#canvas1 {
    position: absolute;
    background-color: black;
}

body {
    background: black;
    margin: 0px;
}

.wrapper {
    position: relative;
    display: block;
    width: 800px;
    height: 800px;
}